<ion-header>
  <ion-toolbar>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="config-content">

    <img src="assets/fundo.png" class="fundo-img"/>

  <div class="top-controls">
    <ion-button fill="clear" (click)="goHome()" class="back-btn">
      ← Voltar
    </ion-button>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Personalização</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Tema -->
      <ion-item>
        <ion-label>Tema</ion-label>
        <ion-segment [(ngModel)]="theme" (ionChange)="toggleTheme($event)">
          <ion-segment-button value="dark">
            <ion-label>Escuro</ion-label>
          </ion-segment-button>
          <ion-segment-button value="light">
            <ion-label>Claro</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <!-- Fonte -->
      <ion-item>
        <ion-label>Fonte</ion-label>
        <ion-segment [(ngModel)]="fontSize" (ionChange)="apply()">
          <ion-segment-button value="small">
            <ion-label>Pequena</ion-label>
          </ion-segment-button>
          <ion-segment-button value="medium">
            <ion-label>Média</ion-label>
          </ion-segment-button>
          <ion-segment-button value="large">
            <ion-label>Grande</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <!-- Avatar -->
      <ion-item lines="none">
        <ion-label position="stacked">Imagem de perfil</ion-label>
        <div class="avatar-list">
          <div
            *ngFor="let a of avatars"
            class="avatar-option"
            [class.selected]="a === avatar"
            (click)="selectAvatar(a)"
          >
            <ion-avatar>
              <img [src]="a" />
            </ion-avatar>
          </div>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="logout-wrap">
    <ion-button expand="block" class="btn-logout" (click)="logout()">
      Sair
    </ion-button>
  </div>
</ion-content>
