@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Temas */
body.theme-dark {
  --ion-background-color: #05030b;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: #151027;
}

body.theme-light {
  --ion-background-color: #f5f5f5;
  --ion-text-color: #111111;
  --ion-toolbar-background: #ffffff;
}

/* Tamanho de fonte */
body.font-small {
  --app-font-size: 14px;
}
body.font-medium {
  --app-font-size: 16px;
}
body.font-large {
  --app-font-size: 18px;
}

ion-content,
ion-item,
ion-card,
ion-label,
ion-button,
ion-input,
ion-searchbar {
  font-size: var(--app-font-size);
}
